//Global color variables
  @main-color: #00B25C;
  @main-color-light: #36D88A;
  @second-color: #0A67A3;
  @second-color-light: #65A6D1;
  @comp-color: #FF7140;
  @viewport-width: 100vw;




  


//Patern for Input+radio components
.componentMain{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  width: 100%;
  max-width: 500px;
}
.componentLabel{
  grid-column: ~"1/2";
  grid-row: ~"1/2";
  margin-left: 5px;
  min-width: 170px;
  width: 40%;
  margin-top: 10px;
  font-size: 1.5rem;
  
}
.componentRadio{
  grid-column: ~"2/3";
  grid-row: ~"1/2";
}
.componentInput{
  margin-top: 10px;
  width: 50px;
  font-size: 1.5rem;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
  text-align: center;
  padding-top: 5px;

  &:focus{
    border-color: @main-color;
  }
}


//Mixins
.centerElement{
  left: 50%;
  transform: translateX(-50%);
}
